
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@500&family=Rubik&display=swap');

header{
    background-color: #131921;
    color: #fff;
}

header div{
    /* flex: 1; */
    /* background-color: red; */
    /* text-align: center; */
}

.full-flex{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.font-weight{
    font-weight: bold;
}

small{
    font-size: 12px;
    color: #fff;
    position: relative;
    top: 4px;
}

span{
    font-size: 14px;
}



.space-between{
    justify-content: space-around;
}

.gap{
    gap: 20px;
}

*{
    list-style-type: none;
    font-family: 'Noto Serif Lao', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}



img{
    width: 120px;
    height:60px;
    mix-blend-mode:lighten;
    background-color: transparent;
}

input{
    /* width: 100%;
     */
     width: 700px;
    padding: 0.7rem 0.9rem;
    outline: none;
    border: 1px solid #fff;
}

::placeholder{
    font-size:1rem;
}

.search-btn , .dropdownArrow{
    background-color: rgb(235, 179, 74);
     color: #000;
     padding: 0.5rem;
     border: none;
}

.search-btn{
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdownArrow{
   color: #6f6a6a;
   background-color: #f9f9f9;
   
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}


.search-icon{
    color: #000 !important;
}

.indian-flag{ 
  width: 20px;
  height: 15px;
  /* gap: 5px; */
  margin:6px;
}